.calculator-container {
  width: 350px;
  min-height: 270px;
  border: black 1px solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex; 
  justify-content: space-between;
}

.form-error-message {
  margin-top: 7px;
  color: red;
}

.form-button-group {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form-staiton-select-line {
  width: 80px;
}

.w-100 {
  width: 100%;
}

.flag {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.th {
  background-image: url("../assets//thailand.svg");
}

.en {
  background-image: url("../assets//uk.svg");
}

.language-active {
  cursor: unset;
  border-bottom-color: black;
}