.calculator-container {
    width: 500;
    height: 400;
    border: black 1px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.form-button-group {
  display: flex;
  width: 100%;
  justify-content: center;
}
