.travel-route-container {
  overflow-y: auto;
  max-height: 470px;
}

@media only screen and (max-width: 768px) {
  .travel-route-container {
    overflow-y: auto;
    max-height: 280px;
  }
}

.station-container {
  display: flex;
  padding: 5px;
}

.mrt-blue-icon {
  width: 16px;
  height: 16px;
  background-color: #1e3a8d;
  margin-right: 5px;
  border-radius: 9px;
  border: 1px solid black;
}

.mrt-blue-dotted-line {
  width: 0px;
  height: 20px;
  margin-left: 11px;
  border-left: 5px dotted #1e3a8d;
}

.bts-silom-icon {
  width: 16px;
  height: 16px;
  background-color: #00817d;
  margin-right: 5px;
  border-radius: 9px;
  border: 1px solid black;
}

.bts-sukhumvit-icon {
  width: 16px;
  height: 16px;
  background-color: #79b828;
  margin-right: 5px;
  border-radius: 9px;
  border: 1px solid black;
}

.arl-icon {
  width: 16px;
  height: 16px;
  background-color: #e30713;
  margin-right: 5px;
  border-radius: 9px;
  border: 1px solid black;
}

.brt-icon {
  width: 16px;
  height: 16px;
  background-color: #dcdc00;
  margin-right: 5px;
  border-radius: 9px;
  border: 1px solid black;
}

.bts-silom-dotted-line {
  width: 0px;
  height: 20px;
  margin-left: 11px;
  border-left: 5px dotted #00817d;
}

.bts-sukhumvit-dotted-line {
  width: 0px;
  height: 20px;
  margin-left: 11px;
  border-left: 5px dotted #79b828;
}

.arl-dotted-line {
  width: 0px;
  height: 20px;
  margin-left: 11px;
  border-left: 5px dotted #e30713;
}

.brt-dotted-line {
  width: 0px;
  height: 20px;
  margin-left: 11px;
  border-left: 5px dotted #dcdc00;
}

.interchange-dotted-line {
  width: 0px;
  height: 20px;
  margin-left: 11px;
  border-left: 5px dotted #aaaaaa;
}
