.route-detail {
    .selected-route {
        height: 55vh;
        width: calc(100% - 40px);
        margin: 20px 10px 0 10px;
        padding: 5px 10px;
        font-size: 16px;
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 8px;
    }
    @media only screen and (max-width: 768px) {
        .travel-route-container {
            max-height: calc(55vh - 20px);
        }
    }
}