.route-from-to {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    margin: 20px 10px 0 10px;
    padding: 5px 10px;
    min-height: 50px;
    line-height: 20px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 8px;

    .station {
        width: 47%;
    }
    .arrow {
        width: 6%;
    }
}