.route-finder-container {
  width: 450px;
  max-height: calc(100% - 40px);
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  position: absolute;
  background: white;
  top: 10px;
  left: 10px;
  opacity: 0.98;
}

@media only screen and (max-width: 768px) {
  .route-finder-container {
    width: calc(100% - 74px);
    max-height: calc(100% - 22px);
    border-radius: 8px 8px 0px 0px;
    top: 5px;
    left: 5px;
    box-shadow: unset;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-radius: 4px 4px 0px 0px;
  background: #CEC9C9;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 5px;
}

.detail {
  padding: 10px;
}

.chevron-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  cursor: pointer;
}

.form-error-message {
  margin-top: 7px;
  color: red;
}

.form-button-group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
