.select-station {
  padding-bottom: 10px;
  .search-box {
    width: calc(100% - 20px);
    margin: 20px 10px 0 10px;
  }
  .search-result {
    max-height: 70vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow: auto;
    border-radius: 8px;
    margin: 20px 10px 0 10px;
    padding: 0px 10px;
  }
  .display-message {
    margin: 20px 10px 0 10px;
    text-align: center;
  }
}
