.station-container {
  display: flex;
  padding: 5px;
}

.station-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 9px;
  border: 1px solid black;
}

.dotted-line {
  width: 0px;
  height: 20px;
  margin-left: 11px;
}

.mrt-blue-icon {
  background-color: #1e3a8d;
}

.mrt-blue-dotted-line {
  border-left: 5px dotted #1e3a8d;
}

.bts-silom-icon {
  background-color: #00817d;
}

.bts-silom-dotted-line {
  border-left: 5px dotted #00817d;
}

.bts-sukhumvit-icon {
  background-color: #79b828;
}

.bts-sukhumvit-dotted-line {
  border-left: 5px dotted #79b828;
}

.bts-gold-icon {
  background-color: #a58701;
}

.bts-gold-dotted-line {
  border-left: 5px dotted #a58701;
}

.arl-icon {
  background-color: #e30713;
}

.arl-dotted-line {
  border-left: 5px dotted #e30713;
}

.brt-icon {
  background-color: #dcdc00;
}

.brt-dotted-line {
  border-left: 5px dotted #dcdc00;
}

.interchange-dotted-line {
  border-left: 5px dotted #aaaaaa;
}
