.travel-route-container {
  overflow-y: auto;
  max-height: 470px;
}

@media only screen and (max-width: 768px) {
  .travel-route-container {
    overflow-y: auto;
    max-height: 280px;
  }
}

.station-container {
  display: flex;
  padding: 5px;
}

.station-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 9px;
  border: 1px solid black;
}

.dotted-line {
  width: 0px;
  height: 20px;
  margin-left: 11px;
}

.mrt-blue-icon {
  background-color: #1E3A8D;
}

.mrt-blue-dotted-line {
  border-left: 5px dotted #1E3A8D;
}

.bts-silom-icon {
  background-color: #00817D;
}

.bts-silom-dotted-line {
  border-left: 5px dotted #00817D;
}

.bts-sukhumvit-icon {
  background-color: #79B828;
}

.bts-sukhumvit-dotted-line {
  border-left: 5px dotted #79B828;
}

.bts-gold-icon {
  background-color: #A58701;
}

.bts-gold-dotted-line {
  border-left: 5px dotted #A58701;
}

.arl-icon {
  background-color: #E30713;
}

.arl-dotted-line {
  border-left: 5px dotted #E30713;
}

.brt-icon {
  background-color: #DCDC00;
}

.brt-dotted-line {
  border-left: 5px dotted #DCDC00;
}

.interchange-dotted-line {
  border-left: 5px dotted #AAAAAA;
}
