.setting-container {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  z-index: 1001;
  border-radius: 4px;
  position: absolute;
  background: white;
  top: 10px;
  right: 10px;
  opacity: 0.98;
}

@media only screen and (max-width: 768px) {
  .setting-container {
    box-shadow: unset;
    border: 2px solid rgba(0, 0, 0, 0.2);
    position: absolute;
  }
}

.setting-icon {
  font-size: 25px;
  padding: 5px;
  border: 4px;
  cursor: pointer;
}
